{% extends 'index.html' %}
{% load static %}
{% block title %} Image Page extends {%endblock%}
{% block content %} 

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static '1.jpg' %}" class="image-fluid"  alt="Django">
        </div>
        <div class="col-md-6">
            <img src="{% static '2.jpeg' %}" class="image-fluid"  alt="Django">
        </div>
        <div class="col-md-6">
            <img src="{% static '3.jpeg' %}" class="image-fluid"  alt="Django">
        </div>
    </div>

</div>
{%endblock%}